.dockerignore
/doc/
/dist/
# exclude data beceause it is already mapped with a volume
/data/
Dockerfile
docker-compose.yml
.gitignore
README.md
../.env
../.env.exemple
# tests
/coverage/
/__tests__/
jest.config.js